* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background: hsl(275, 100%, 97%) url(assets/images/background-pattern-desktop.svg) no-repeat;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* housestyle fonts spacing */
/* fonts weight, size and colors */
h1, h2 {
  color: hsl(292, 42%, 14%);
}
h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
h2 {
  font-weight: 600;
}
.answer-css {
  font-weight: 400;
  color: hsl(292, 16%, 49%);
}

/* margin */
hr {
  color: hsl(275, 100%, 97%);
  margin-bottom: 2rem;
}
#card div {
  margin-bottom: 2rem;
}
#card div:last-of-type {
  margin-bottom: 0;
}
.icons {
  width: fit-content;
  border: none;
  background: transparent;
  cursor: pointer;
}


/* card */
main {
  width: 50%;
}
#card {
  background: hsl(0, 0%, 100%);
  width: 100%;
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 10px;
}

/* card's rows */
#card #row1 {
  display: flex;
  margin-bottom: 2rem;
}
.oneline  {
  display: grid;
  grid-template-columns: 90% 10%;
}
#card #row1 img {
  width: 2.5rem;
  margin-right: 1rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1400px) {
  body {
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
  }
  main {
    justify-self: center;
    height: auto;
  }

  /* font size */
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .answer-css {
    font-size: 0.8rem;
  }
  .icons img {
    width: 80%;
  }
  

  /* margin */
  hr, #card div {
    margin-bottom: 1rem;
  }

  /* card */
  #card {
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
  }

}