* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background: url(assets/images/background-pattern-desktop.svg);
  background-color: hsl(275, 100%, 97%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* housestyle fonts spacing */
h1, h2 {
  color: hsl(292, 42%, 14%);
}
h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
h2 {
  font-weight: 600;
}
hr {
  color: hsl(275, 100%, 97%);
  margin-bottom: 2rem;
}
#card div {
  margin-bottom: 2rem;
}
#card div:last-of-type {
  margin-bottom: 0;
}
.icons {
  width: fit-content;
  border: none;
  background: transparent;
  cursor: pointer;
}
.answer-css {
  font-weight: 400;
  color: hsl(292, 16%, 49%);
}

/* card */
main {
  width: 50%;
}
#card {
  background: hsl(0, 0%, 100%);
  width: 100%;
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 10px;
}

/* card's rows */
#card #row1 {
  display: flex;
  margin-bottom: 2rem;
}
.oneline  {
  display: grid;
  grid-template-columns: 90% 10%;
}
#card #row1 img {
  width: 2.5rem;
  margin-right: 1rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }